.rule-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 20px;
}

.left-area, .center-area, .right-area {
  border: 1px solid black;
  padding: 12px;
  margin: 4px;
}

.left-area {
  width: 20%;
}

.center-area {
  width: 60%;
}

.right-area {
  width: 20%;
}
