<div class="rule-container" [formGroup]="ruleFormGroup">
  <div class="left-area">


    <h3>Criteria</h3>
    <div class="debug">{{ rule.criteria | json }}</div>
    <mat-form-field
      class="full-width"
      formArrayName="criteria"
      *ngFor="let criterion of ruleFormGroup.get('criteria').controls; let i = index;">
      <div [formGroupName]="i">
        <input matInput formControlName="text" placeholder="Criterion">
      </div>
    </mat-form-field>


  </div>


  <div class="center-area">


    <h3>Responses</h3>
    <div class="debug">{{ rule.responses | json }}</div>
    <mat-form-field
      class="full-width"
      formArrayName="responses"
      *ngFor="let response of ruleFormGroup.get('responses').controls; let i = index;">
      <div [formGroupName]="i">
        <input matInput formControlName="text" placeholder="Response">
      </div>
    </mat-form-field>


    <h3 class="suggestions">Suggestions</h3>
    <div class="debug">{{ rule.suggestions | json }}</div>
    <mat-form-field
      class="full-width"
      formArrayName="suggestions"
      *ngFor="let suggestion of ruleFormGroup.get('suggestions').controls; let i = index;">
      <div [formGroupName]="i">
        <input matInput formControlName="text" placeholder="Suggestion">
      </div>
    </mat-form-field>


  </div>
  <div class="right-area">
    <h3>Updates</h3>
    <div class="debug">{{ rule.updates | json }}</div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Update">
    </mat-form-field>

  </div>

</div>


